<p>
  <b>Nome:</b>
  <%=h @bolsista.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @bolsista.email %>
</p>

<p>
  <b>Rua:</b>
  <%=h @bolsista.rua %>
</p>

<p>
  <b>Numero:</b>
  <%=h @bolsista.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @bolsista.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @bolsista.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%=h @bolsista.estado %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @bolsista.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%=h @bolsista.celular %>
</p>

<p>
  <b>Data nascimento:</b>
  <%=h @bolsista.data_nascimento %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @bolsista.sexo %>
</p>

<p>
  <b>Nacionalidade:</b>
  <%=h @bolsista.nacionalidade %>
</p>

<p>
  <b>Naturalidade:</b>
  <%=h @bolsista.naturalidade %>
</p>

<p>
  <b>Nome pai:</b>
  <%=h @bolsista.nome_pai %>
</p>

<p>
  <b>Nome mae:</b>
  <%=h @bolsista.nome_mae %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @bolsista.estado_civil %>
</p>

<p>
  <b>Nome conjuge:</b>
  <%=h @bolsista.nome_conjuge %>
</p>

<p>
  <b>Rg:</b>
  <%=h @bolsista.rg %>
</p>

<p>
  <b>Orgao:</b>
  <%=h @bolsista.orgao %>
</p>

<p>
  <b>Data expedicao:</b>
  <%=h @bolsista.data_expedicao %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @bolsista.cpf %>
</p>

<p>
  <b>Certiicado reservista:</b>
  <%=h @bolsista.certiicado_reservista %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @bolsista.categoria %>
</p>

<p>
  <b>Titulo eleitor:</b>
  <%=h @bolsista.titulo_eleitor %>
</p>

<p>
  <b>Zona:</b>
  <%=h @bolsista.zona %>
</p>

<p>
  <b>Secao:</b>
  <%=h @bolsista.secao %>
</p>

<p>
  <b>Grau instrucao:</b>
  <%=h @bolsista.grau_instrucao %>
</p>

<p>
  <b>Formacao academica:</b>
  <%=h @bolsista.formacao_academica %>
</p>

<p>
  <b>Instituicao:</b>
  <%=h @bolsista.instituicao %>
</p>

<p>
  <b>Pos graduacao:</b>
  <%=h @bolsista.pos_graduacao %>
</p>

<p>
  <b>Tipo bolsa:</b>
  <%=h @bolsista.tipo_bolsa %>
</p>


<%= link_to 'Editar', edit_bolsista_path(@bolsista) %> |
<%= link_to 'Voltar', bolsistas_path %>

