<%= will_paginate @estagiarios, :previous_label => "&laquo; Anterior", :next_label => "Proximo &raquo;" %>
<% @estagiarios.each do |estagiario| %>
<br>
  <table>
  <tr>
    <th>Nome</th>
    <th>Matrícula</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Instituição de origem</th>
  </tr>
  <tr class="linha">
    <td><%=h estagiario.nome %></td>
    <td><%=h estagiario.matricula %></td>
    <td><%=h estagiario.telefone %></td>
    <td><%=h estagiario.email %></td>
    <td><%=h estagiario.instituicao_origem %></td>
    <td><%= link_to 'Mostrar', estagiario %></td>
    <td><%= link_to 'Editar', edit_estagiario_path(estagiario) %></td>
    <td><%= link_to 'Excluir', estagiario, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
  </tr>
  </table>
<% end %>

